@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');

body {
    font-family: "Average", serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #111;
}

h1, h2 {
    text-align: center;
}

#container {
    text-align: center;
    margin-bottom: 2em;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

#container-inner {
    padding: 1em;
}

#on-loaded-container {
    visibility: hidden;
}

#loading-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loading-text {
    margin-bottom: 1em;
}

.lds-ring {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #111;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #111 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#text, #midi, #voice, #submit, #audio {
    display: block;
    margin: 1em auto;
}

#text {
    font: inherit;
    border: thin solid #aaa;
    padding: 1em;
}

input, select {
    font: inherit;
}

#error {
    color: #a11;
}

#submit {
    font: inherit;
    font-size: 200%;
    cursor: pointer;
    padding: 0.1em 1em;
}

#blurb {
    max-width: 50em;
    margin: 0 auto;
}

#blurb p {
    margin: 0.5em auto;
    text-indent: 3em;
}

#phoneme-guide {
    margin: 1em auto;
    text-align: center;
}
